<main class="container">
    <div class="center">
      <h1 *ngIf="campaign">{{campaign.name}}</h1>
      <ui-button label="Génération du guide d'installation" (click)="generate()"></ui-button>
    </div>

    <input 
      *ngIf="elements?.length === 0"
      type="file" 
      accept=".json" 
      (change)="onFileSelected($event)" 
      class="file-input" />
    <div *ngIf="this.elements">
            <ui-list [results]="elements">
              <ng-template let-result>
                <ui-title-collapse [result]="result"></ui-title-collapse>
              </ng-template>
            </ui-list>
    </div>

  </main>
  